@model Dashboard.Models.TestFailureSummaryModel

@{
    ViewBag.Title = "Failures";
}

<h2>Test Failures</h2>
<table class="table">
    <thead><tr>
        <th>Test Name</th>
        <th>Failure Count</th>
    </tr></thead>
<tbody>
@foreach (var entry in Model.Entries)
{
    <tr>
        <td>@Html.ActionLink(linkText: @entry.Name, controllerName: "Builds", actionName: "Test", routeValues: Model.Filter.GetRouteValues(entry.Name), htmlAttributes: null)</td>
        <td>@entry.Count</td>
    </tr>
}
</tbody>
</table>

@Html.Partial("BuildFilter", Model.Filter)
