@model Dashboard.Models.AllJobsModel

@{
    ViewBag.Title = "Jenkins Jobs";
}

@foreach (var name in Model.Names)
{
    <div><a href="@Url.Action(controllerName: "Jenkins", actionName: "Jobs", routeValues: new { id = @name })">@name</a></div>
}

