
@{
    ViewBag.Title = "JobList";
}

<h2>Job Definitions</h2>
    @foreach(var item in Model)
    {
        <div><a href="@Url.Action(controllerName: "Queue", actionName: "Index", routeValues: new { jobName = @item, count = 25 })">@item</a></div>
    }

