@model Dashboard.Models.TestStatsModel

<div>Hit Count @Model.HitCount</div>
<div>Miss Count @Model.MissCount</div>
<div>Store Count @Model.StoreCount</div>
<div>Current Count @Model.CurrentCount</div>

